.account-profile-header-image {
    background-image: url('../../../assets/images/portraits/default.png');
    background-size: cover;
}

.profile-info-wrapper {
    span {
        font-size: 1.15rem;
    }
}