<h1 mat-dialog-title>Edit core info</h1>
<div mat-dialog-content>
  <div class="dialog-name-input-wrapper pt-8">
    <mat-form-field>
      <mat-label>Assigned project</mat-label>
      <mat-select [(value)]="assignment">
        <mat-option>none</mat-option>
        <mat-option [value]="project.value" *ngFor="let project of projects">{{
          project.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Project Role</mat-label>
      <mat-select [(value)]="role">
        <mat-option>none</mat-option>
        <mat-option [value]="role.value" *ngFor="let role of roles">{{
          role.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button mat-button>Cancel</button>
  <button mat-button cdkFocusInitial>Save</button>
</div>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
