<mat-card class="user-detail-card-main">
  <mat-card-header>
    <div class="btn-wrapper pin-top-right">
      <button
        class="mr-16"
        [routerLink]="'/customers'"
        mat-stroked-button
        extended
        color="accent"
      >
        <mat-icon>arrow_back</mat-icon>
        <span *ngIf="isDesktop">Back to list</span>
      </button>
      <button
        color="accent"
        (click)="openMainEdit()"
        mat-icon-button
        aria-label="Icon button with a pen to edit core data"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>

    <div mat-card-avatar class="user-detail-header-image mr-16"></div>
    <div class="user-detail-title-wrapper">
      <mat-card-title *ngIf="customerDetail"
        >{{ customerDetail.firstName }}
        {{ customerDetail.lastName }}
      </mat-card-title>
      <mat-card-subtitle *ngIf="customerDetail">
        <a href="mailto:{{ customerDetail.email }}">{{
          customerDetail.email
        }}</a>
      </mat-card-subtitle>
      <mat-card-subtitle *ngIf="customerDetail">
        <a href="tel:{{ customerDetail.phone }}">{{ customerDetail.phone }}</a>
      </mat-card-subtitle>
    </div>
  </mat-card-header>
</mat-card>

<div class="user-detail-second-row">
  <mat-card class="user-detail-card">
    <button
      *ngIf="isDesktop"
      (click)="openPersonalEdit()"
      color="accent"
      class="pin-top-right"
      mat-icon-button
      aria-label="Icon button with a pen to edit personal data"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <mat-card-header class="center-text">
      <mat-card-title> Personal data </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="lead__row-wrapper">
        <div>
          <mat-card-subtitle>Address</mat-card-subtitle>
          <span *ngIf="customerDetail">{{ customerDetail.street }}</span>
          <br />
          <span *ngIf="customerDetail"
            >{{ customerDetail.zipCode }} {{ customerDetail.city }}</span
          >
        </div>
        <div>
          <mat-card-subtitle>Birthday</mat-card-subtitle>
          <span *ngIf="customerDetail">{{ customerDetail.birthDate }}</span>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="!isDesktop" align="end">
      <button
        (click)="openPersonalEdit()"
        color="accent"
        mat-icon-button
        aria-label="Icon button with a pen to edit personal data"
      >
        <mat-icon>edit</mat-icon>
      </button></mat-card-actions
    >
  </mat-card>

  <mat-card class="user-detail-card">
    <button
      *ngIf="isDesktop"
      (click)="openLeadEdit()"
      color="accent"
      class="pin-top-right"
      mat-icon-button
      aria-label="Icon button with a pen to edit lead data"
    >
      <mat-icon>edit</mat-icon>
    </button>

    <mat-card-header class="center-text">
      <mat-card-title> Lead Info </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div>
        <mat-card-subtitle>Title</mat-card-subtitle>
        <span *ngIf="customerDetail">{{
          customerDetail.leadInfo.leadTitle
        }}</span>
      </div>

      <div class="lead__row-wrapper">
        <div>
          <mat-card-subtitle>Owner</mat-card-subtitle>
          <span *ngIf="customerDetail">{{
            customerDetail.leadInfo.leadOwner
          }}</span>
        </div>
        <div>
          <mat-card-subtitle>Startdate</mat-card-subtitle>
          <span *ngIf="customerDetail">{{
            customerDetail.leadInfo.leadStartDate
          }}</span>
        </div>
      </div>

      <div class="lead__row-wrapper">
        <div>
          <mat-card-subtitle>Value</mat-card-subtitle>
          <span *ngIf="customerDetail"
            >{{ customerDetail.leadInfo.leadValue | currency : "EUR" }}
          </span>
        </div>
        <div>
          <mat-card-subtitle>Status</mat-card-subtitle>
          <mat-chip-listbox>
            <mat-chip
              *ngIf="customerDetail"
              highlighted
              [color]="
                customerDetail.leadInfo.leadStatus == 'lost'
                  ? 'warn'
                  : customerDetail.leadInfo.leadStatus == 'success'
                  ? 'primary'
                  : 'accent'
              "
            >
              {{ customerDetail.leadInfo.leadStatus }}
            </mat-chip>
          </mat-chip-listbox>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions *ngIf="!isDesktop" align="end">
      <button
        (click)="openLeadEdit()"
        color="accent"
        mat-icon-button
        aria-label="Icon button with a pen to edit personal data"
      >
        <mat-icon>edit</mat-icon>
      </button></mat-card-actions
    >
  </mat-card>
</div>
