<h2 mat-dialog-title>Add Customer</h2>
<div mat-dialog-content>
  <div class="dialog-name-input-wrapper dialog__row-wrapper">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input [disabled]="loading" [(ngModel)]="customer.firstName" matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input [(ngModel)]="customer.lastName" matInput />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Email</mat-label>
      <input [(ngModel)]="customer.email" matInput />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Phone</mat-label>
      <input [(ngModel)]="customer.phone" matInput />
    </mat-form-field>
  </div>
  
  <div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Date of Birth</mat-label>
      <input [(ngModel)]="birthDate" matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Street + House Number</mat-label>
      <input [(ngModel)]="customer.street" matInput />
    </mat-form-field>
  </div>

  <div class="dialog__row-wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Zip code</mat-label>
      <input [(ngModel)]="customer.zipCode" matInput />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>City</mat-label>
      <input [(ngModel)]="customer.city" matInput />
    </mat-form-field>
  </div>

  <h2>Lead info</h2>
  <div class="dialog__row-wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Lead title</mat-label>
      <input [(ngModel)]="customer.leadInfo.leadTitle" matInput>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Lead value</mat-label>
      <input [(ngModel)]="customer.leadInfo.leadValue" type="number" matInput>
      <mat-icon matSuffix>euro</mat-icon>
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions>
  <button (click)="closeDialog()" mat-button>Cancel</button>
  <button (click)="addCustomer()" mat-button cdkFocusInitial>Save</button>
</div>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
