<mat-card-header>
  <mat-card-title mat-dialog-title>Edit lead info</mat-card-title>
</mat-card-header>

<div class="input__wrapper" mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input [(ngModel)]="customer.leadInfo.leadTitle" matInput />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select [(ngModel)]="customer.leadInfo.leadStatus">
        <mat-option *ngFor="let element of status" [value]="element.value">{{
          element.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="updateInfo()">Save</button>
</div>

<mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
