.input__wrapper {
    display: flex;
    flex-direction: column;

    mat-form-field {
        min-width: 500px;

        @media only screen and (max-width: 1020px) {
            min-width: 0px;
        }
    }
}