<mat-card *ngIf="currentUser" class="account-profile-card">
  <mat-card-header>
    <div mat-card-avatar class="account-profile-header-image"></div>
    <mat-card-title>Vorname Nachname</mat-card-title>
    <mat-card-subtitle>{{ currentUser.email }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="mt-16 main-card-content">
    <div class="profile-info-column-container">
      <div class="profile-info-wrapper">
        <mat-card-subtitle>Whole Name</mat-card-subtitle>
        <span>Vorname Nachname</span>
      </div>
      <div class="profile-info-wrapper">
        <mat-card-subtitle>Display Name</mat-card-subtitle>
        <span>Vorname Nachname</span>
      </div>
      <div class="profile-info-wrapper">
        <mat-card-subtitle>Gender</mat-card-subtitle>
        <span>Vorname Nachname</span>
      </div>
    </div>
    <div class="profile-info-column-container">
      <div class="profile-info-wrapper">
        <mat-card-subtitle>Region</mat-card-subtitle>
        <span>Vorname Nachname</span>
      </div>
      <div class="profile-info-wrapper">
        <mat-card-subtitle>Language</mat-card-subtitle>
        <span>Vorname Nachname</span>
      </div>
      <div class="profile-info-wrapper">
        <mat-card-subtitle>Timezone</mat-card-subtitle>
        <span>Vorname Nachname</span>
      </div>
    </div>
  </mat-card-content>

  <div class="pin-top-right">
    <button (click)="openDialog()" color="accent" mat-flat-button>Edit</button>
  </div>
</mat-card>

<!-- Email Card -->
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Email address</mat-card-title>
    <mat-card-subtitle
      >Here you can save all emails you are using and want to be contacted
      by</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <div class="mt-16 profile-email-wrapper">
      <mat-icon color="primary">mail</mat-icon>
      <span>email@email.de</span>
    </div>
  </mat-card-content>
</mat-card>

<!-- Phone Card -->
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Phonenumber</mat-card-title>
    <mat-card-subtitle
      >Save all your phonenumbers you can be reached by</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content>
    <div class="mt-16 profile-email-wrapper">
      <mat-icon color="primary">call</mat-icon>
      <span>+49 123456789</span>
    </div>
  </mat-card-content>
</mat-card>
