<table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8"
>
  <!-- Name Column -->
  <ng-container matColumnDef="firstName">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by name"
    >
      Name
    </th>
    <td mat-cell *matCellDef="let customer">
      {{ customer.firstName }}
      {{ customer.lastName }}
    </td>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by email"
    >
      Email
    </th>
    <td mat-cell *matCellDef="let customer">
      {{ customer.email }}
    </td>
  </ng-container>

  <!-- Owner Column -->
  <ng-container matColumnDef="leadInfo.leadOwner">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by owner"
    >
      Owner
    </th>
    <td mat-cell *matCellDef="let customer">
      {{ customer.leadInfo.leadOwner }}
    </td>
  </ng-container>

  <!-- Value Column -->
  <ng-container matColumnDef="leadInfo.leadValue">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by value"
    >
      Value
    </th>
    <td mat-cell *matCellDef="let customer">
      {{ customer.leadInfo.leadValue | currency : 'EUR' }} 
    </td>
  </ng-container>

  <!-- Status Column -->
  <ng-container matColumnDef="leadInfo.leadStatus">
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by status"
    >
      Status
    </th>
    <td mat-cell *matCellDef="let customer">
      <mat-chip-listbox>
        <mat-chip
          *ngIf="customer"
          highlighted
          [color]="
            customer.leadInfo.leadStatus == 'lost'
              ? 'warn'
              : customer.leadInfo.leadStatus == 'success'
              ? 'primary'
              : 'accent'
          "
        >
          {{ customer.leadInfo.leadStatus }}
        </mat-chip>
      </mat-chip-listbox>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [routerLink]="'/customer/' + row.id"
  ></tr>
</table>

<button
  class="customer-add-btn"
  mat-fab
  (click)="openDialog()"
  color="accent"
  matTooltip="Add a new Customer"
  aria-label="Icon button with a add icon"
  [matTooltipPosition]="'above'"
>
  <mat-icon>person_add_alt</mat-icon>
</button>
