@use '@angular/material' as mat;
@use "./app/sidenav-list-theme" as list;

@include mat.core();

$my-primary: mat.define-palette(mat.$teal-palette);
$my-accent: mat.define-palette(mat.$deep-purple-palette, 300);

$my-theme-dark: mat.define-dark-theme((color: (primary: $my-primary,
                accent: $my-accent,
            )));

$my-theme-light: mat.define-light-theme((color: (primary: $my-primary,
                accent: $my-accent,
            )));

html,
body {
    height: 100%;
    overflow: hidden;
}

.dark-theme {
    @include mat.all-component-colors($my-theme-dark);
    @include list.theme($my-theme-dark);
}

.light-theme {
    @include mat.all-component-colors($my-theme-light);
    @include list.theme($my-theme-light);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Prevents background color on browser autofilled inputs
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232300;
}

.mr-16 {
    margin-right: 16px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mt-16 {
    margin-top: 16px;
}

.pt-8 {
    padding-top: 8px;
}

.full-width {
    width: 100%;
}

.center-text {
    justify-content: center;
}

.pin-top-right {
    position: absolute;
    right: 8px;
    top: 8px;
}

.relative {
    position: relative;
}